body {
    background-color: green;
}

form {
    padding-top: 1vh;


    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;

    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;

    border: 10px groove red;

}

label{
    display: block;
    font-weight: bold;
}
  
input[type="email"]{
    width: 150px;
}
  
input[type="text"]{
    width: 150px;
}
  
input[type=file]{
    width: 150px;
    color:transparent;
}
  
button{
    width: 80px;
    height: 40px;
    right: 25px;
    position: absolute;
    background-color: pink
}
  
input:focus{
    background-color: gray;
}
