body {
    background-color: green;
}

form {
    padding-top: 1vh;


    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;

    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bold;

    border: 10px groove red;

}


label {
    color:pink;
}